.search #logo{
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
}

.form{
    text-align: center;
}

#dark-search{
    width: 450px;
    line-height: 30px;
    padding: 10px 10px;
    border-radius: 10px;
}

#dark-search:hover{
    border-color: red;
    padding-top: 0;
    transition-duration: 0.4s;
}

.button{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 300px;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.click{
    background-color: white;
    color: black;
    border-radius: 4px;
    border: 2px solid red;
}

.click:hover{
    background-color: rgb(221, 106, 106);
    color: white;
    font: bold;
}